body{
    background-color: aquamarine;
}
.bsl{
    width: 14% ;
    height: 75px;
    background:rgb(207, 150, 214) ;
}
.onas{
    width:7% ;
    height: 30px;
    background:rgb(207, 150, 214) ;
}
.dobro{
    width:70% ;
    height: 40px;
    background:rgb(207, 150, 214) ;
}
.yrok1{
    width:40% ;
    height:40%;
    background:rgb(207, 150, 214)  ;
}
.уроки{
    background: rgb(207, 150, 214) 
    width:7%;
}


